html, body
{
	font-family: 'Catamaran', sans-serif;
}

textarea
{
	font-family: Arial;
}


.clear
{
	clear:both;
}

.adminMain
{
	padding:10px;
	width:1000px;
}

.error
{
	color:#ff6666;
	font-size:14px;
	font-style:italic;
}

.hide
{
	display:none !important;
}

.menu_link
{
	color:#333333;
	display:block;
	margin:0 0 10px 0;
	text-decoration:underline;
}

.menu_link:hover
{
	color: #aaaaaa;;
}

.ajaxSuccessDisplay, .ajaxFailDisplay
{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	opacity:0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}


.ajaxSuccessDisplay .bg,
.ajaxFailDisplay .bg
{
	width:100%;
	height:100%;
	opacity:0.6;
	background:#000;
	position:absolute;
	left:0;
	top:0;
}

.ajaxSuccessDisplay p
{
	background:#ccddbb;

}

.ajaxFailDisplay p
{
	bckground:#ffccdd;

}

.ajaxSuccessDisplay p,
.ajaxFailDisplay p
{
	width: 100%;
	padding: 10px;
	position:absolute;
	left:0;
	top:0;
}

.fadeIn
{
	opacity:1;
}

.fadeOut
{
	opacity:0;
}

.section
{
	background:#eeeeee;
	padding:15px;
	border-radius:10px;
	margin:0 0 20px;
}

h1.pageHading
{
	font-size:16px;
	margin:0 0 10px;
	font-weight:bold;
}

.listing
{
	font-size:14px;
}

.listing td, .listing th
{
	border:1px solid #000;
}

.listing td
{
	padding:2px;
}

.listing th
{
	padding:8px 2px;
	background:#d5d5d5;
}


.album_details_parent_album_name
{
	padding: 0 0 8px 0;
	color:#999999;
	font-style:italic;
	font-weight:bold;
}

.albumList
{
	width:100%;
	margin:0 0 10px;
	background:#fff;
}

input[type='submit']
{
	float:right;
}

.formInfo td
{
	vertical-align:top;
	padding:2px;
}

.formInfo input[type='text']
{
	width:350px;
	box-sizing:border-box;
}

.formInfo textarea
{
	width:350px;
	height:100px;
	box-sizing:border-box;
}

.formInfo .error
{
	margin:4px 0 0;
}


/***** upload *****/
#uploaderWrapper
{
	border: 1px solid #d0d0d0;
}

#queue
{
	width:100%;
}

.uploadifive-queue-item
{
	background-color:transparent;
	border-bottom:none;
	width:180px;
	display:inline-block;
	vertical-align:top;
	margin:0 0 20px 0;
}

.uploadifive-button
{
	width:100% !important;
	height:150px !important;
}


.uploadifive-button input
{
	width:100%;
	height:100%;
}

.uploadImgPreview
{
	width:100%;
}

.dropButton
{
	width:100%;
	height:150px;
	line-height:150px !important;
	border:none;
	background-color:transparent;
	background-image:none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color:#999999;
	text-transform: none;
	text-shadow: none;
}

.dropButton:hover {
	background-color:transparent;
	background-image:none;
}