/******** COMMON **********/
html 
{
	overflow-y: hidden;
	overflow-x:hidden;
}

.vScrollOff
{
	overflow-y: hidden;
}

.vScrollOn
{
	overflow-y: auto;
}

html, body
{
	font-family: 'Catamaran', sans-serif;
	min-width:320px;
	height:100%;
}

a
{
	outline: 0;
}

.hide
{
	display:none !important;
}

.show
{
	opacity:1 !important;
	display:block !important;
}

@media only screen and (min-width: 1920px) 
{
	.wrapper
	{
		width:1920px;
		margin:0 auto;
	}
}

.wrapper
{
	height:100%;
}

/********** COLOR SCHEMES **********/
.bgBrown
{
	background:#383432;
}

.sDesktop .bgBase,
.sDesktop.bgBase .infoPanel,
.sMobile .mainPanel
{
	background-color:#322c2b;
}

.sMobile.bgBase .infoPanel .menuContainer
{
	background:#d9cfc0;
}

.sDesktop .infoPanel .menuContainer
{
	background:transparent;
}

.bgBrown .infoPanel h1
{
	color:#ecdfd1;
}

.sMobile.bgBrown  .infoPanel .menuContainer
{
	background:#d9cfc0;
}

.bgBase .infoPanel h1
{
	color:#e0cebf;
}

.sMobile .albumTitle
{
	background:#1e1a19;
}


/********** HOME ***************/
.homeSubTitle_c
{
	position: absolute;
	bottom: 65px;
	color: #fffff0;
	font-size: 26px;
	opacity: 0.8;
	font-family: 'Merriweather', serif;
	text-align:left;
	font-weight:300;
	padding:20px;
	font-style:italic;
}

.sMobile .homeSubTitle_c
{
	bottom:42px;
}

.homeSubTitle_c .cap
{
	font-size:120%;
}


@media (min-width: 768px) and (max-width: 1024px)
{
	.sDesktop .homeSubTitle_d
	{
		padding: 0 20px;
		right:0;
	}

	.sDesktop .homeSubTitle_c
	{
		right: 20px;
		text-align: right;
		font-size: 32px;
		padding: 0;
		width: 490px;
		bottom: 65px;
	}

	.sDesktop .homeSubTitle_c .second_line
	{
		margin-left:30px;
	}
}

@media (min-width: 1025px) and (max-width:1279px)
{

	.sDesktop .homeSubTitle_c
	{
		width: 570px;
		font-size: 35px;
		bottom: 44px;
	}

	.sDesktop .homeSubTitle_c .second_line {
		margin-left: 30px;
	}

}

@media (min-width: 1280px)
{
	.sDesktop .homeSubTitle_c
	{
		font-size:40px;
		width:660px;
		padding:0 20px;
	}

	.sDesktop .homeSubTitle_c .second_line {
		margin-left: 38px;
	}
}

@media (max-height:400px)
{
	.homeSubTitle_c,
	.homeSubTitle_d
	{
		display:none;
	}
}

.sDesktop .homeSubTitle_d
{
	font-size:18px;
	font-weight:300;
}

.sMobile .homeSubTitle_d
{
	font-size:15px;
}

.homeSubTitle_d
{
	position: absolute;
	bottom: 40px;
	color: #fffff0;
	font-size: 20px;
	opacity: 0.7;
	padding:0 20px;
	font-family: 'Merriweather', serif;
}

.homeSubTitle_e
{
	position: absolute;
	bottom: 40px;
	color: #fffff0;
	left: 120px;
	font-size: 35px;
	opacity: 0.9;
	font-family: 'Merriweather', serif;
	text-align:center;
}


.homeSubTitle_e
{
	font-family: 'Catamaran', sans-serif;
	position: absolute;
	color: #274358;
	left: 4px;
	font-size: 35px;
	opacity: 0.9;
	font-size:12px;
}

.sDesktop .homeSubTitle_e
{
	top:4px;
}

.sMobile .homeSubTitle_e
{
	top:4px;
}

/********** Info Panel *************/

.sMobile .infoPanel
{
	display:block;
	width:100%;
	min-height:40px;
	position:relative;
	text-align:left;
}

.sMobile .albumTitle
{
	width:100%;
	position:absolute;
}

.sDesktop .infoPanel
{
	float: left;
	width: 35%;
	height: auto;
	text-align: right;
	position:relative;
}


.sDesktop .infoPanel .intro p.hasInitialCap:first-child:first-letter
{
	font-family: 'Merriweather', serif;
	font-size:70px;
	margin:5px 0 -5px 0;
	padding:0 .1em 0 0;
	height:.7em;
	line-height:.85em;
	float:left;
	color:#c3aba6;
}


.sDesktop .infoPanel .intro
{
    float: right;
    width: 80%;
    margin: 150px 20px 0 0;
	padding: 20px 0 0 0;
    border-top: 1px solid #716f6a;
}

.sDesktop .infoPanel .intro p
{
    text-align: justify;
    font-size: 15px;
    line-height: 1.2em;
	color:#887b79;
	margin:0 0 20px 0;
}

.sMobile .infoPanel .intro
{
	display:none;
}

@media (max-width: 1439px)
{
	.sDesktop .infoPanel h1 {
		font-size: 3vw;
		padding: 210px 20px 10px 20px;
		font-weight: 200;
	}
}

@media (min-width: 1440px) {
	.sDesktop .infoPanel h1 {
		font-size: 2.3vw;
		padding: 210px 20px 10px 20px;
		font-weight: 200;
	}
}

.sMobile .infoPanel h1
{
	font-size:26px;
	padding:8px 60px 6px 6px;
	font-weight:200;
}

.graphy
{
	color:#acc2b9;
}

.sDesktop .infoPanel .subAlbumMenus
{
	margin: 0 20px 30px 20px;
}

.sMobile .infoPanel .menuContainer 
{
	width:100%;
	position:absolute;
	top:40px;
	opacity:1;
}

.menuContainer
{
	margin:0 0 24px 0;
}

.menuTransition
{
	-webkit-transition: all .3s  ease-out;
	-moz-transition: all .3s  ease-out;
	-ms-transition: all .3s  ease-out;
	-o-transition: all .3s  ease-out;
	transition: all .3s  ease-out;
}

.sMobile .mainMenuClose
{
	/*top:-360px !important;*/
	opacity:0 !important;
}

.sDesktop .mainMenuClose
{
	opacity:1 !important;
}


.sDesktop .infoPanel .subAlbumMenus li
{
	margin:0 0 5px 0;
	line-height:1.3em;
	font-size:16px;
	font-style:italic;
}

.sMobile .infoPanel .subAlbumMenus li
{
	padding:4px 8px;
	line-height:1.1em;
	font-size:15px;
	font-style:italic;
}

.infoPanel .subAlbumMenus li a
{
	color:#968d87;
}

.infoPanel .subAlbumMenus li.active a
{
	color:#ff0000;
}

.sMobile .infoPanel .subAlbumMenus
{
	margin:4px 0;
}

.sDesktop .infoPanel .menuHeading
{
	margin: 30px 20px 10px;
    font-style: italic;
    font-size: 14px;
}

.sMobile .infoPanel .menuHeading
{
	padding:8px;
	font-style:italic;
	background:#dcdad0;
	line-height:1.3em;
	font-size:14px;
	color:#000;
	border-top:1px solid #a29c93;
}
 
.sDesktop .infoPanel .otherAlbumMenus
{
	margin:0 20px;
}

.sMobile .infoPanel .otherAlbumMenus
{
	margin:4px 0;
}
 
.sDesktop .infoPanel .otherAlbumMenus li
{
	margin:0 0 5px 0;
	line-height:1.3em;
	font-size:15px;
}

.sMobile .infoPanel .otherAlbumMenus li
{
	padding:4px 8px;
	line-height:1.3em;
	font-size:14px;
}

.infoPanel .otherAlbumMenus li a
{
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.sDesktop .wrapperAlbum .infoPanel .otherAlbumMenus li a
{
	color: #968d87;
}

.sDesktop .wrapperBase .infoPanel .otherAlbumMenus li a
{
	color: #988a81;
}

.sDesktop .wrapperAlbum .infoPanel li a:hover
{
	color:#ccc2bc;
}

.sDesktop .wrapperBase .infoPanel li a:hover
{
	color:#c5bdb7;
}

.sMobile .wrapperAlbum .infoPanel .otherAlbumMenus li a
{
	color: #6a605b;
}

.sMobile .wrapperBase .infoPanel .otherAlbumMenus li a
{
	color: #6a605b;
}

.sMobile .wrapperAlbum .infoPanel li a:hover
{
	color:#c5bdb7;
}

.sMobile .wrapperBase .infoPanel li a:hover
{
	color:#9e938c;
}

.sDesktop .infoPanel .otherAlbumMenus li.parent
{
	font-size:18px;
	margin:0 0 3px 0;
}

.sDesktop .infoPanel .otherAlbumMenus li.siblings
{
	font-style:italic;
	margin:0 0 3px 0;
}

.sDesktop .infoPanel .otherAlbumMenus li.parent a,
.sDesktop .infoPanel .otherAlbumMenus li.siblings a,
.sDesktop .subAlbumMenus a
{
	padding: 0 10px 0 0;
	margin:0 -10px 0 0;
}

.sMobile .infoPanel .otherAlbumMenus li.siblings
{
	font-style:italic;
}

.sDesktop .infoPanel .otherAlbumMenus li.siblings.last
{
	margin:0 0 20px;
}

.sDesktop .infoPanel .otherAlbumMenus li.siblings.current a
{
	font-weight:bold;
	color:#a8bab6;
}

.sMobile .infoPanel .otherAlbumMenus li.siblings.current a
{
	font-weight:bold;
	color:#88aaa2;
}

.sDesktop .infoPanel .menuLinks
{
	margin:40px 20px 0;
}
 

.sDesktop .infoPanel .menuLinks li
{
	margin:0 0 5px 0;
	line-height:1.3em;
	font-size:14px;
}

.sMobile .infoPanel .menuLinks li
{
	padding:4px 8px;
	line-height:1.3em;
	font-size:13px;
}

.infoPanel .menuLinks li a
{
	color:#5f5a56;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.sDesktop .infoPanel .menuLinks li a:hover
{
	color:#ccc2bc;
}

.sMobile .infoPanel .menuLinks li a:hover
{
	color:#b5a69d;
}

.sMobile .infoPanel .menuLinks
{
	background:#e1d8d3;
	padding:4px 0;
}

/******** Footer ********/
.footer
{
	height:24px;
	color:#fff;
	position:fixed;
	width:100%;
	bottom:0;
	opacity:0;
	z-index:1;
	-webkit-transition: all 3s ease;
	-moz-transition: all 3s ease;
	-ms-transition: all 3s ease;
	-o-transition: all 3s ease;
	transition: all 3s ease;
}

.section_about ~ .footer
{
	z-index:1;
}

.footer .bg
{
	background:#8c7777;
	width:100%;
	height:100%;
	opacity:0.8;
	position:absolute;
	left:0;
	top:0;
}

.footer .text
{
	text-align:right;
	position:absolute;
	top:0;
	right:0;
	font-weight:200;
	padding:4px;
}

.sDesktop .footer .text
{
	font-size:16px;
}

.sMobile .footer .text
{
	font-size:15px;
}

.footer .footerMenuWrapper
{
	left: 2%;
	position: relative;
	bottom: 30%;
	z-index: 1;
}

.footer .footerMenuWrapper a
{
	width:26px;
	height:26px;
	display:inline-block;
	margin:0 2px;
	position:relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.footer .footerMenuWrapper a:hover
{
	-webkit-filter: brightness(120%);
	filter: brightness(150%);
	top:-2px;

}

.footer .footerMenuWrapper #btn_ask_her
{
	background:url(../images/icon-message.png) 0 0 no-repeat;
	background-size:100%;
}

.footer .footerMenuWrapper #btn_update_her
{
	background:url(../images/icon-news.png) 0 0 no-repeat;
	background-size:100%;
}

.footer .footerMenuWrapper #btn_share_her
{
	background:url(../images/icon-share.png) 0 0 no-repeat;
	background-size:100%;
}

.footer .footerMenuWrapper #btn_about_her
{
	background:url(../images/icon-about.png) 0 0 no-repeat;
	background-size:100%;
}

.footer .footerMenuWrapper #btn_home
{
	background:url(../images/icon-home.png) 0 0 no-repeat;
	background-size:100%;
}

/******* Base *********/
.wrapperBase
{
	width:100%;
	height:100%;
	opacity:0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.sDesktop .wrapperBase .mainPanel
{
	width: 65%;
	position: relative;
	float: left;
	height:100%;
}

.sMobile .wrapperBase .mainPanel
{
	width:100%;
	display:block;
	height:100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.wrapperBase .mainPanel
	{
		position: fixed !important;
		left: 0;
		top: 0;
		width:100% !important;
	}
	.wrapperBase.section_home .albumTitle
	{
		background:rgba(50, 44, 43, 0.9) !important;
	}

	.wrapperBase.section_home .albumTitle h1
	{
		padding: 10px 20px !important;
		margin-top: 200px;
		background:transparent !important;
	}

	.wrapperBase .menuContainer
	{
		background:rgba(50, 44, 43, 0.9) !important;
		padding:0 0 10px 0;
		-webkit-transition: none !important;
		-moz-transition:  none !important;
		-ms-transition:  none !important;
		-o-transition:  none !important;
		transition:  none !important;
	}

	html
	{
		overflow-y:auto !important;
	}
}


/******** Album ********/
.wrapperAlbum
{
	opacity: 0;
}

.sMobile .menuMask
{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
	display:none;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity:0;
	-webkit-transition: all .3s  ease-out;
	-moz-transition: all .3s  ease-out;
	-ms-transition: all .3s  ease-out;
	-o-transition: all .3s  ease-out;
	transition: all .3s  ease-out;
}

.sDesktop .menuMask
{
	display:none;
}

.menuMask.show
{
	-webkit-opacity: 0.6 !important;
	-moz-opacity: 0.6 !important;
	opacity:0.6 !important;
	display:block !important;
}

.sMobile .infoPanel .btnMenuToggle
{
	width: 32px;
	height: 32px;
	display: block;
	margin:-16px 6px 0 0;
	right: 0;
	top: 50%;
	position: absolute;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.sMobile .infoPanel .btnMenuToggle:hover
{
	-webkit-filter: brightness(115%);
	filter: brightness(115%);
}

.sDesktop .wrapperBase .infoPanel
{
	height:100%;
}

.btnMenuToggleRotate
{
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.sMobile .infoPanel .btnMenuToggle img
{
	width:100%;
	height:100%;
	display:block;
}

.sDesktop .infoPanel .btnMenuToggle
{
	display:none;
}

.sMobile .wrapperAlbum .gridPanel
{
	display:block;
	width:100%;
	position:relative;
}

.sMobile .wrapperAlbum .gridPanel .grid
{
	display:block;
	position:absolute;
	overflow:hidden;
	cursor:pointer;
}

.sMobile .wrapperAlbum .gridPanel .grid img
{
	width:100%;
	position:relative;
	left:0;
	top:0;
}

.sDesktop .wrapperAlbum .gridPanel
{
	float:left;
	width:65%;
	position:relative;
}

.sDesktop .wrapperAlbum .gridPanel .grid
{
	display:block;
	position:absolute;
	overflow:hidden;
	cursor:pointer;
}

.sDesktop .wrapperAlbum .gridPanel .grid img
{
	/*add some extra pixels to round up, preventing borders*/
	width:100%;
	height:100%;
	position:relative;
	left:0;
	top:0;
}

.wrapperAlbum .grid  .titleOverlay
{
	position:absolute;
	color:#f2e6e4;
	font-size:14px;
	left:0;
	top:100%;
	width:100%;
	overflow:hidden;
	height:100%;
	opacity:0;
	-webkit-transition: all 0.2s  ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.titleOverlayShow
{
	top:0 !important;
	-webkit-opacity: 1 !important;
	-moz-opacity: 1 !important;
	opacity:1 !important;
}

.wrapperAlbum .grid  .titleOverlay .bg
{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#000;
	opacity: 0.2;
	filter: alpha(opacity=20); 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

.wrapperAlbum .grid  .titleOverlay .title
{
	text-align:center;
	position:absolute;
	left:0;
	bottom:0;
	margin:8px;
	text-shadow: 1px 1px 6px #413b3b;
	width:100%;
}

.wrapperAlbum .grid  .titleOverlay .desc
{
	display:none;
}

/****** PHOTO ZOOM OVERLAY *******/
.photoZoomOverlay
{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	display:none;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity:0;
	-webkit-transition: all 0.5s  ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	
}

.photoZoomOverlay .bg
{
	width:100%;
	height:100%;
	background:#000;
	opacity: 0.6;
	filter: alpha(opacity=60); 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.photoZoomOverlay  .photoContainer
{
	position:absolute;
	left:0;
	top:0;
}

.photoZoomOverlay  .photoContainer .photo
{
	width:100%;
	display:block;
}

.photoZoomOverlay  .descContainer 
{
	position:relative;
	width:100%;
	color: #f2e6e4;
	font-size:14px;
	-webkit-transition: all 0.3s  ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	opacity:0;
}

.photoZoomOverlay  .descContainer .title
{
	padding: 5px 5px 0 5px;
	font-weight:bold;
	display:block;
	position:relative;;
	line-height:1.1em;
}

.photoZoomOverlay  .descContainer .titleOnly
{
	font-weight: normal;
	text-align: center;
	padding:5px;
}

.photoZoomOverlay  .descContainer  .desc
{
	padding: 5px;
	font-size:14px;
	display:block;
	position:relative;;
	line-height:1.1em;
}

.photoZoomOverlay  .descContainer .bg
{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#2b2928;
	opacity: 0.8;
	filter: alpha(opacity=80); 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";;
}

.photoZoomOverlay .btnClose
{	
	font-family:Times New Roman;
	position:absolute;
    cursor:pointer;
    color: #fff;
    border: 1px solid #c3b3b3;
    border-radius: 30px;
    background: #615f5f;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 14px 5px;
	right:-10px;
	top:-10px;
	-webkit-transition: all .3s  ease-out;
	-moz-transition: all .3s  ease-out;
	-ms-transition: all .3s  ease-out;
	-o-transition: all .3s  ease-out;
	transition: all .3s  ease-out;
}

.sMobile .photoZoomOverlay .btnClose
{
	padding:11px 3px;
	font-size:28px;
}

.photoZoomOverlay .btnClose:hover
{
	background:#918787;
}

.photoZoomOverlay .btnClose:before 
{
    content: "×";
}

/********* About ************/
.section_about,
.section_about .aboutContainer

{
	background:#e6d1c8;

}

@media (min-width: 768px) and (max-width: 1439px)
{
	.section_about, .section_about .aboutContainer, .section_about .mainPanel, .section_about article
	{
		background:transparent !important;
	}

	.section_about .infoPanel
	{
		z-index:1;
		background:transparent !important;
	}

}

.section_about .albumTitle
{
	background:#baa7a0;
	height:40px !important;
}

.section_about .aboutContainer
{
	width:100%;
	height:100%;
}

.section_about .aboutContainer,
.section_about .mainPanel,
.section_about article
{
	background:#e6d1c8;
}


.sMobile .section_about .aboutContainer,
.sMobile .section_about .mainPanel,
.sMobile .section_about article
{
	background:transparent;
}

.sMobile .aboutContainer
{
	background: url(../images/herbert_m.jpg) transparent 40% top no-repeat !important;
	background-size: cover !important
}

.sMobile .section_about .mainPanel
{
	position: relative !important;

	height:100%;
}

.sDesktop .section_about .mainPanel
{
	overflow-y:auto;
	overflow-x:hidden;
	position: relative !important;
}

@media (min-width: 768px) and (max-width: 1439px)
{
	.sDesktop .section_about .mainPanel
	{
		position: absolute !important;
		z-index: 1;
		width:100%;
	}

	.sDesktop .section_about .infoPanel
	{
		width:100%;
		opacity:0.8;
		background-position: 70% top;
	}
}

.section_about .infoPanel
{
	background: url(../images/herbert.jpg) transparent center top no-repeat !important;
	background-size:cover !important;
}

.sDesktop .section_about .infoPanel h1
{
	display:none;
}

.sMobile .section_about .btnMenuToggle
{
	display:none;
}

.sMobile .section_about .infoPanel
{
	background:none !important;
}

.sMobile .section_about .infoPanel h1
{
	color:#383432;
}


.sDesktop .section_about  article
{
	width: 60vw;
	padding: 16% 20% 10% 10%;
	background:url(../images/camera.png) 42% 10%  no-repeat;
}

@media (min-width: 1025px) and (max-width: 1439px)
{
	.section_about  article
	{
		width: 50vw  !important;
	}
}


.sMobile .section_about  article
{
	overflow: auto;
	height: 60%;
	color:#000;
	position:relative;
	top:40%;
	padding:0 25px 50px 25px;

}

.section_about  article
{
	color: #8c8884;
	text-align: justify;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	float: left;
}

@media (min-width: 768px) and (max-width: 1439px)
{
	.sDesktop .section_about  article
	{
		padding: 80px 5% 10% 15%;
		float: right;
		color: #000;
	}
}


.section_about article p
{
	font-size:16px;
	line-height:1.2em;
}

.section_about .simple_icon
{
	margin:15px 0 0 0;
	font-size:60px;
	display:inline-block;
}

.sDesktop .section_about  article > p:first-child:first-letter
{
	float: left;
	font-family: 'Merriweather', serif;
	font-size: 240px;
	line-height: 0.85em;
	margin-right: 0.03em;
	margin-bottom:-0.05em;
	color:#99827d;
}

.sMobile .section_about  article > p:first-child:first-letter
{
	float: left;
	font-family: 'Merriweather', serif;
	font-size: 120px;
	line-height: 0.85em;
	margin-right: 0.03em;
	margin-bottom:-0.05em;
	color:#695a54;
}

@media (min-width: 768px) and (max-width: 1439px)
{
	.section_about  article > p:first-child:first-letter
	{
		color:#695a54 !important;
	}
}

.sDesktop .section_about .menuContainer,
.sDesktop .section_about .albumTitle
{
	display:none;
}

.section_about .contacts
{
	border-radius: 50%;
	width: 240px;
	height: 240px;
	padding:10px;
	background:#f4f3e9;
	margin:50px auto;
	text-align: center;
	color:#94b5b5;
}

.section_about .contacts .name
{
	font-size:22px;
	margin: 20px 0 0 0;
}


/******** SIMPLE LOADING **********/
#simple-loading
{
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	-webkit-transition: all .5s  ease-out;
	-moz-transition: all .5s  ease-out;
	-ms-transition: all .5s  ease-out;
	-o-transition: all .5s  ease-out;
	transition: all .5s  ease-out;
	display:none;
	opacity:0;
}

#simple-loading .simple-loading-bg
{
	background:#000;
	width:100%;
	height:100%;
	opacity:0.6;
	top:0;
	left:0;
	position:absolute;
}

@-webkit-keyframes uil-simple-loading-anim {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
@keyframes uil-simple-loading-anim {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
.uil-simple-loading-css > div:nth-of-type(1) {
	-webkit-animation: uil-simple-loading-anim 1s linear infinite;
	animation: uil-simple-loading-anim 1s linear infinite;
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}
.uil-simple-loading-css {
	position: relative;
	background: none;
	width: 200px;
	height: 200px;
}
.uil-simple-loading-css > div:nth-of-type(2) {
	-webkit-animation: uil-simple-loading-anim 1s linear infinite;
	animation: uil-simple-loading-anim 1s linear infinite;
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}
.uil-simple-loading-css {
	position: relative;
	background: none;
	width: 200px;
	height: 200px;
}
.uil-simple-loading-css > div:nth-of-type(3) {
	-webkit-animation: uil-simple-loading-anim 1s linear infinite;
	animation: uil-simple-loading-anim 1s linear infinite;
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}
.uil-simple-loading-css {
	position: relative;
	background: none;
	width: 200px;
	height: 200px;
}
.uil-simple-loading-css > div:nth-of-type(4) {
	-webkit-animation: uil-simple-loading-anim 1s linear infinite;
	animation: uil-simple-loading-anim 1s linear infinite;
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}
.uil-simple-loading-css {
	position: relative;
	background: none;
	width: 200px;
	height: 200px;
}
.uil-simple-loading-css > div:nth-of-type(5) {
	-webkit-animation: uil-simple-loading-anim 1s linear infinite;
	animation: uil-simple-loading-anim 1s linear infinite;
	-webkit-animation-delay: -0.09999999999999998s;
	animation-delay: -0.09999999999999998s;
}
.uil-simple-loading-css {
	position: relative;
	background: none;
	width: 200px;
	height: 200px;
}
.uil-simple-loading-css > div:nth-of-type(6) {
	-webkit-animation: uil-simple-loading-anim 1s linear infinite;
	animation: uil-simple-loading-anim 1s linear infinite;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.uil-simple-loading-css {
	position: relative;
	background: none;
	width: 200px;
	height: 200px;
}
.uil-simple-loading-css > div:nth-of-type(7) {
	-webkit-animation: uil-simple-loading-anim 1s linear infinite;
	animation: uil-simple-loading-anim 1s linear infinite;
	-webkit-animation-delay: 0.09999999999999998s;
	animation-delay: 0.09999999999999998s;
}
.uil-simple-loading-css {
	position: relative;
	background: none;
	width: 200px;
	height: 200px;
}
.uil-simple-loading-css > div:nth-of-type(8) {
	-webkit-animation: uil-simple-loading-anim 1s linear infinite;
	animation: uil-simple-loading-anim 1s linear infinite;
	-webkit-animation-delay: 0.19999999999999996s;
	animation-delay: 0.19999999999999996s;
}
.uil-simple-loading-css {
	position: relative;
	background: none;
	width: 200px;
	height: 200px;
}
.uil-simple-loading-css > div:nth-of-type(9) {
	-webkit-animation: uil-simple-loading-anim 1s linear infinite;
	animation: uil-simple-loading-anim 1s linear infinite;
	-webkit-animation-delay: 0.30000000000000004s;
	animation-delay: 0.30000000000000004s;
}
.uil-simple-loading-css {
	position: relative;
	background: none;
	width: 200px;
	height: 200px;
}
.uil-simple-loading-css > div:nth-of-type(10) {
	-webkit-animation: uil-simple-loading-anim 1s linear infinite;
	animation: uil-simple-loading-anim 1s linear infinite;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.uil-simple-loading-css {
	position: relative;
	background: none;
	width: 66px;
	height: 66px;
	top: 50%;
	left: 50%;
	margin-left: -33px;
	margin-top: -33px;
}

/**** 404 ******/
.text_404
{
	font-size: 50px;
	padding: 20px;
	font-weight: 200;
	position:absolute;
	right:0;
	bottom:0;
}
