/*client side */
.sMobile .infoPanel
{
	z-index:1;
}

.sMobile .infoPanel .menu
{
	z-index:2;
}

.sMobile .infoPanel .menuContainer
{
	z-index:1;
}

.sMobile .infoPanel h1
{
	z-index:3;
}

.sMobile .albumTitle
{
	z-index:2;
}

.sMobile .infoPanel .btnMenuToggle
{
	z-index:4;
}

.photoZoomOverlay
{
	z-index:3;
}

/*admin side */
.ajaxSuccessDisplay,
.ajaxFailDisplay
{
	z-index:1;
}

